body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;  // Prevent horizontal scrolling
    font-family: Arial, sans-serif;  // Ensures consistent font styling
}

.cover-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(215, 215, 215, 0.469);  // Semi-transparent black background
    color: white;
    z-index: 10;
}

.button-container {
    display: flex;
    justify-content: center;  // Centers the buttons horizontally within the container
    gap: 20px;  // Space between the buttons
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    z-index: 20;
    display: none;  // Modal is hidden by default
}

.modal-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    box-sizing: border-box;
    align-items: center;
}

.controls-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cipher-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
}

.word-container {
    display: inline-flex; /* Makes the words wrap as units */
    margin-right: 8px;
}

.character-container {
    display: inline-block;
    text-align: center;
    margin: 4px;
}

.cipher-character {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.cipher-input {
    width: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.cipher-input:focus {
    border-color: #4CAF50;
    outline: none;
}

.modal label {
    display: block;  // Ensures each label+input pair appears on a new line
    margin: 10px 0;  // Adds some space between the settings options
    font-size: 16px;  // Ensures readability
    color: #333;  // Dark text for visibility in light mode
}

.modal input[type="checkbox"] {
    margin-right: 10px;  // Adds space between the checkbox and the label text
}

